#grid-productos {
    display: grid;
    grid-template: {
        columns: repeat(4, 1fr);
        //rows: repeat(3, 1fr)
    }
    grid-auto-rows: auto;
    gap: 5px;
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    
    @for $i from 0 through 6 {
        .item-product-#{$i} {
            align-self: center;
            justify-self: center;
            img {
                width: 100%;
            }
        }
    }

    @media (min-width: 375px) and (max-width: 576px){
        grid-template: {
            columns: repeat(1, 1fr);
        }
    }
    @media (min-width: 577px) and (max-width: 992px){
        grid-template: {
            columns: repeat(2, 1fr);
        }
    }
    
    .item-expanded{
            grid-column: 1 / 5;
            height: 100%;
            align-self: start;
            display: flex;
            flex-direction: column;
        &-Futbol-0 {
            @extend .item-expanded;
        }
        &-Basquet-1 {
            @extend .item-expanded;
        }
        &-Hockey-2 {
            @extend .item-expanded;
        }
        &-Voley-3 {
            @extend .item-expanded;
        }
        &-Box-Otros-4 {
            @extend .item-expanded;
        }
        &-Bolsos-y-Mochilas-5 {
            @extend .item-expanded;
        }
        &-Accesorios-6 {
            @extend .item-expanded;
        }
    }
}