extends ../templates/template.pug
block append config
    - titlePage = "Contactenos"

block append content
    .container
        .row
            .col-sm-12.col-md-6.my-auto
                .my-5
                    +formContact()
            .col-sm-12.col-md-6.my-auto
                .my-5
                    +mapTolone()