extends ../templates/template.pug
block append config
    - titlePage = "Inicio"

block append content
    .container
        .row
            .col-sm-12.col-md-8.offset-md-4.mx-auto
                <div id="complete" class="alert alert-success p-5 animated fadeIn my-3" role="alert">
                    <h4 class="alert-heading font-weight-bold ">¡Excelente!</h4>
                    <p>Gracias por completar el formulario, en breve nos pondremos en contacto.</p>
                    <hr>
                    <p class="mb-0">Para cualquier consulta comuníquese con nosotros mediante nuestras <span class="font-weight-bold">consultas@tolone.com.ar</span></p>
                </div>

        .row.py-3
            .col-sm-12.col-xl-8
                .montserrat.text-uppercase.text-center
                    h2.my-3.text-white compra directa de fabrica - sin intermediarios
                    .text-center
                        img(src="./img/assets/disena-tu-camiseta.png", alt="Diseña tu camiseta").img-fluid
                        img(src="./img/assets/home-camisetas.png", alt="Camisetas Deportivas").img-fluid
                        a(href="arma-tu-camiseta.html") 
                            img(src="./img/assets/banner.png", alt="Indumentaria Deportiva").img-fluid
            .col-sm-12.col-xl-4.my-auto
                .row.py-2
                    +card-service