extends ../templates/template.pug
block append config
    - titlePage = "Inicio"

block append content
    .container
        .row.py-3
            .col-sm-12.col-xl-8
                .montserrat.text-uppercase.text-center
                    h2.my-3.text-white compra directa de fabrica - sin intermediarios
                    .text-center
                        img(src="./img/assets/disena-tu-camiseta.png", alt="Diseña tu camiseta").img-fluid
                        img(src="./img/assets/home-camisetas.png", alt="Camisetas Deportivas").img-fluid
                        a(href="arma-tu-camiseta.html") 
                            img(src="./img/assets/banner.png", alt="Indumentaria Deportiva", height="150")
            .col-sm-12.col-xl-4.my-auto
                .row.py-2
                    +card-service